.order-container {
  display: flex;
  min-width: 300px;
  max-width: 850px;

  overflow: auto;
  min-height: 300px;
  border: 2px solid steelblue;
  border-radius: 5px;
}

.order-basket {
  display: flex;
  min-width: 300px;
  max-width: 850px;
  overflow: auto;
  min-height: 350px;
  border: 2px solid #a62e32;
  border-radius: 5px;
}
